<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="EventHubConnectionString" value="Endpoint=sb://kovaidotcoehn.servicebus.windows.net/;SharedAccessKeyName=KovaiDotCoUIAppPolicy;SharedAccessKey=wrhNKBsNPeL4NzoQ63Qbgbfj3B3snPAgaGGNz4cKRiI=;EntityPath=kovaidotcoehone" />
  </appSettings>
</configuration>